h1.ui.icon.header.center.aligned
  i.yellow.trophy.icon
  .content.ui.teal.header Draft Planner
    sup#beta-tag  BETA
    .sub.header Manage all your fantasy football rankings in one place!

.ui.centered.grid(ng-show='!user.id')
  .five.wide.column
    h4.ui.header.center.aligned Don't forget to register, it's free!
      .sub.header Here's just a few of the features you'll have access to:
    ul.ui.bulleted.list
      li Save as many ranking sets as you want
      li Choose from one of many starting points for your ranks, including ESPN, FantasyPros, and Matthew Berry
      li Specify PPR settings for each set
      li Frequent updates and new features
  .two.wide.column
  .five.wide.column
    h4.ui.header Check out a preview of what you can do below:
    ul.ui.bulleted.list
      li Drag and drop, sortable rankings
      li Tag players as sleepers, busts, injury prone, or make your own notes
      li Remove players that may be keepers or on your "undraftable" list (don't worry, they'll stick around at the bottom if you change your mind)
      li Click a player to see all their stats

.ui.centered.grid
  .fourteen.wide.column
    h3.ui.header What's new?
    ul.ui.bulleted.list
      li Lots of performance enhancements. You should notice snappier transitions and fewer delays when sorting your players.
      li Now you can add players that aren't included in your base rankings. At the bottom of each set, you should find a menu to add as many players as you want.

.ui.horizontal.divider
  i.yellow.trophy.icon
.ui.centered.grid
  .fourteen.wide.column
    h3.ui.header.center.aligned(ng-show='user.id') Sample Rankings
      .sub.header Choose one of your ranking sets from the menu above, or
        a(href='#/collections/new')  create one
  .two.wide.column
    .ui.form
      .field
        label(for='collection_ppr') PPR
        .ui.transparent.mini.input
          input(type='number' name='collection_ppr' ng-model='ppr' step='0.1')


.ui.divided.list#sortedList
  .item(ng-repeat='player in sortedPlayers' data-player-id='{{ ::player.id }}')
    .content.aligned
      .ui.grid
        .six.wide.column
          .ui.massive.label.left.floated.sortable-handle
            i.small.sort.teal.icon.left.floated
            | {{ getRank(player.id) }}
          img.ui.image.left.floated(ng-src='assets/images/nfl_logos/{{ player.team.toLowerCase() }}.png')
          a.header(ng-click='showModal(player, $index)') {{ ::player.name }}
          .description {{ ::player.position }} - {{ ::player.team }}
        .four.wide.column
          .top.label-tags
            .ui.green.tag.tiny.label(ng-class='{inactive: !player.tag.sleeper}' ng-click='handleTagClick("sleeper", player.tag, $event)')
              i.heartbeat.icon
              | Sleeper
            .ui.yellow.tag.tiny.label(ng-class='{inactive: !player.tag.bust}' ng-click='handleTagClick("bust", player.tag, $event)')
              i.warning.sign.icon
              | Bust
          .bottom.label-tags
            .ui.red.tag.tiny.label(ng-class='{inactive: !player.tag.injury}' ng-click='handleTagClick("injury", player.tag, $event)')
              i.hospital.icon
              | Injury Prone
            .ui.blue.tag.tiny.label(ng-class='{inactive: !player.tag.notes}')
              i.write.icon
              | Notes
            .ui.popup
              .header Notes
              .ui.transparent.left.icon.input
                input(type='text' placeholder='Add notes...' ng-model='player.tag.notes')
                i.write.icon
        .six.wide.column
          .six.wide.right.floated.right.aligned.column
            .ui.tiny.statistic
              .value {{ player.points + (player.receptions * ppr) | number: 2 }}
              .label 2014 Points
          .ten.wide.right.floated.right.aligned.column
            .top.label-tags
              .ui.tiny.label.right.floated \#{{ ::player.posRank }}
                .detail.pos-rank {{ ::player.position }}
              .ui.red.circular.mini.label.right.floated.inactive(ng-click='removePlayer(player)')
                span Remove &nbsp;
                i.ban.icon
            .bottom.label-tags
              .ui.tiny.label.right.floated(ng-show='player.age')
                .detail.age-tag Age
                | {{ ::player.age }}
              .ui.tiny.label.right.floated
                .detail.age-tag Bye
                | {{ ::byes[player.team] }}

h4.ui.horizontal.divider.header
  i.green.plus.icon
  | Add a player

.ui.grid
  .thirteen.wide.column
    .ui.upward.fluid.search.selection.disabled.dropdown#unlisted-dropdown
      input#unlisted-input(name='add_player' type='hidden')
      i.dropdown.icon
      .default.text Loading players...
      .menu

  .three.wide.column
    .ui.fluid.teal.animated.fade.button#add-button(ng-click='addPlayer()')
      .visible.content
        i.plus.icon
      .hidden.content
        | Add Player

#modal(ng-include="'app/views/components/player.modal.html'")
