form.ui.form(ng-submit='handleLoginSubmit()', role='form', ng-init='loginForm = {}')

  .field
    label(for='email') Email
    input#email(type='text', name='email', ng-model='loginForm.email', required)
  .field
    label(for='password') Password
    input#password(type='password', name='password', ng-model='loginForm.password', required)

  button.ui.submit.button Submit
