.ui.icon.header > .content.ui.header {
  margin-top: 0;
}

.ui.inverted.menu {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
