.ui.purple.raised.segment
  h1.ui.dividing.header.centered {{ collection.name }}
  .ui.fluid.six.item.teal.inverted.menu
    a.item(ng-repeat="pos in ['qb', 'rb', 'wr', 'te', 'def', 'k']",
           ng-class='{ active: pos === activePos, purple: pos === activePos }',
           ng-click='updatePosition(pos)',
           data-pos='{{pos}}') {{ pos.toUpperCase() }}

  #list
    .ui.inverted.dimmer
      .ui.text.loader Loading
    .ui.divided.list(ng-sortable='rankSortable')
      .item(ng-repeat='player in sortedPlayers')
        .content.aligned
          .ui.grid
            .six.wide.column
              .ui.massive.label.left.floated.sortable-handle
                i.small.sort.teal.icon.left.floated
                | {{ $index + 1 }}
              img.ui.image.left.floated(ng-src='assets/images/nfl_logos/{{ player.team.toLowerCase() }}.png')
              a.header {{ player.name }}
              .description {{ player.position }} - {{ player.team }}
            .six.wide.column
              form
                .top.label-tags
                  .ui.green.tag.tiny.label(ng-class='{inactive: !player.tag.sleeper}' ng-click='handleTagClick("sleeper", player, $event)')
                    input(type='checkbox' hidden ng-model='player.tag.sleeper')
                    i.heartbeat.icon
                    | Sleeper
                  .ui.yellow.tag.tiny.label(ng-class='{inactive: !player.tag.bust}' ng-click='handleTagClick("bust", player, $event)')
                    input(type='checkbox' hidden ng-model='player.tag.bust')
                    i.warning.sign.icon
                    | Bust
                .bottom.label-tags
                  .ui.red.tag.tiny.label(ng-class='{inactive: !player.tag.injury}' ng-click='handleTagClick("injury", player, $event)')
                    input(type='checkbox' hidden ng-model='player.tag.injury')
                    i.hospital.icon
                    | Injury Prone
                  .ui.blue.tag.tiny.label.inactive
                    i.write.icon
                    | Notes
            .four.wide.column
              .ui.tiny.statistic.right.floated
                .value {{ player.points }}
                .label 2014 Points
              .right.floated
                .top.label-tags
                  .ui.tiny.label \#{{player.posRank}}
                    .detail.pos-rank {{player.position}}
                .bottom.label-tags
                  .ui.tiny.label
                    .detail.age-tag Age
                    | {{player.age}}
                  //- .ui.red.circular.mini.label.right.floated(ng-class='{inactive: !player.tag.removed}')
                  //-   i.ban.icon

#save-button
  i.circular.big.green.inverted.checkmark.icon
