.ui.purple.raised.segment
  h1.ui.dividing.header.centered {{ collection.name }}
  .ui.fluid.six.item.secondary.menu
    a.item(ng-repeat='pos in positions' data-pos='{{pos}}' ng-class='{ active: pos === activePos }') {{ pos.toUpperCase() }}

  .ui.divided.list
    .item
      .content
        .ui.ribbon.label #1
        .right.floated.ui.tiny.statistic
          .value 150
          .label Points 2014
        a.header Player Name
        .description POS - TEAM
    .item
      .content
        .ui.ribbon.label #1
        .right.floated.ui.tiny.statistic
          .value 150
          .label Points 2014
        a.header Player Name
        .description POS - TEAM
    .item
      .content
        .ui.ribbon.label #1
        .right.floated.ui.tiny.statistic
          .value 150
          .label Points 2014
        a.header Player Name
        .description POS - TEAM
    .item
      .content
        .ui.ribbon.label #1
        .right.floated.ui.tiny.statistic
          .value 150
          .label Points 2014
        a.header Player Name
        .description POS - TEAM
    .item
      .content
        .ui.ribbon.label #1
        .right.floated.ui.tiny.statistic
          .value 150
          .label Points 2014
        a.header Player Name
        .description POS - TEAM
    .item
      .content
        .ui.ribbon.label #1
        .right.floated.ui.tiny.statistic
          .value 150
          .label Points 2014
        a.header Player Name
        .description POS - TEAM
    .item
      .content
        .ui.ribbon.label #1
        .right.floated.ui.tiny.statistic
          .value 150
          .label Points 2014
        a.header Player Name
        .description POS - TEAM
