h1.ui.header.centered
  .content
    | {{ collection.name }}
    i.edit.icon#collection-edit
    .ui.popup#collection-popup
      .ui.form
        .field
          label(for='collection_name') Name
          input(type='text' name='collection_name' ng-model='collection.name')
        .field
          label(for='collection_ppr') PPR
          input(type='number' name='collection_ppr' ng-model='collection.ppr' step='0.1')

.ui.fluid.six.item.teal.inverted.menu
  a.item(ng-repeat="pos in ['qb', 'rb', 'wr', 'te', 'def', 'k']",
         ui-sref-active='active',
         ui-sref="collections.show.list({ id: collection.id, position: pos })") {{ ::pos.toUpperCase() }}

.ui.horizontal.divider
  i.yellow.trophy.icon

ui-view

#modal(ng-include="'app/views/components/player.modal.html'")
